extends ../layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top')
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/bicicletas') Volver al listado
  // Masthead
  header.masthead
    .container.d-flex.h-100.align-items-center
      .mx-auto.text-center
        h1.mx-auto.my-0.text-uppercase Nueva Bicicleta
  // MAP
  section#nuevabici
    .container
      .row  
        .col.w-100
            form(action='../api/bicicletas/create' method='post')
                label(for='code') Code:
                input#code(type='text' name='code')
                br
                label(for='color') Color:
                input#color(type='text' name='color')
                br
                label(for='modelo') Modelo:
                input#modelo(type='text' name='modelo')
                br
                label(for='lat') Latitud:
                input#lat(type='text' name='lat')
                br
                label(for='lng') Longitud:
                input#lng(type='text' name='lng')
                br
                br
                input.btn(type='submit' value='OK')
